<%= form_for(@unit) do |f| %>
    <% if @unit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

          <ul>
            <% @unit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :nr %><br>
          <%= f.text_field :nr %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :short_name %><br>
          <%= f.text_field :short_name %>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :unit_group_id %><br>
          <%= f.number_field :unit_group_id %>
        </div>
      </div>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" name="commit" value="完成" style="margin: 30px 0 10px 20px;width: 200px;">
    </div>
<% end %>
