<%= form_for(@part) do |f| %>
    <% if @part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
            <% @part.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :nr %><br>
      <%= f.text_field :nr %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :short_description %><br>
      <%= f.text_field :short_description %>
    </div>
    <div class="field">
      <%= f.label :part_type_id %><br>
      <%= f.select(:part_type_id, PartType.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :color_id %><br>
      <%= f.select(:color_id, Color.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :measure_unit_id %><br>
      <%= f.select(:measure_unit_id, Unit.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :purchase_unit_id %><br>
      <%= f.select(:purchase_unit_id, Unit.options, {include_blank: false}) %>
    </div>
    <div class="field">
      <%= f.label :custom_nr %><br>
      <%= f.text_field :custom_nr %>
    </div>
    <div class="field">
      <%= f.label :cross_section %><br>
      <%= f.text_field :cross_section %>
    </div>
    <div class="field">
      <%= f.label :weight %><br>
      <%= f.text_field :weight %>
    </div>
    <div class="field">
      <%= f.label :weight_range %><br>
      <%= f.text_field :weight_range %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
