<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %><br>
    <%= f.text_field :nr %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :part_type_id %><br>
    <%= f.text_field :part_type_id %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br>
    <%= f.text_field :color_id %>
  </div>
  <div class="field">
    <%= f.label :measure_unit_id %><br>
    <%= f.number_field :measure_unit_id %>
  </div>
  <div class="field">
    <%= f.label :purchase_unit_id %><br>
    <%= f.number_field :purchase_unit_id %>
  </div>
  <div class="field">
    <%= f.label :custom_nr %><br>
    <%= f.text_field :custom_nr %>
  </div>
  <div class="field">
    <%= f.label :cross_section %><br>
    <%= f.text_field :cross_section %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
