<style>
    .col-sm-4 {
        font-size: 2em;
    }
</style>

<p id="notice"><%= notice %></p>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Nr:</strong>
    <%= @color.nr %>
  </div>

  <div class="col-sm-4">
    <strong>Name:</strong>
    <%= @color.name %>
  </div>

  <div class="col-sm-4">
    <strong>Short name:</strong>
    <%= @color.short_name %>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Description:</strong>
    <%= @color.description %>
  </div>
</div>

<div class="col-sm-12">
  <%= link_to 'Edit', edit_color_path(@color), :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 0;' %>
  <%= link_to 'Back', colors_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 20px;' %>
</div>