<%= form_for(@location) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12" style="border-bottom: 2px solid #999;">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :nr %><br>
          <%= f.text_field :nr %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="border-bottom: 2px solid #999;margin-top: 20px;">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :parent_id %><br>
          <%= f.select(:parent_id, Location.options, {include_blank: false}, :style => 'min-width:150px;') %>
        </div>
      </div>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" name="commit" value="更新Location" style="margin: 20px;width: 200px;">
    </div>
<% end %>
