<!DOCTYPE html>
<html>
<head>
  <title>WMS LEONI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
      span {
          color: #000;
      }

      #notice {
          color: #000;
          font-size: 1.2em;
      }
  </style>
</head>

<body>
<div>
  <%= render 'shares/head' %>
</div>

<div>
  <div>
    <%= render 'shares/left' %>
  </div>

  <div style="min-height:850px;background-color: #F2F2F2;margin: 20px 20px 0 220px; border-left: 2px solid #999;">
    <%= yield %>
  </div>
</div>

<!--处理中信息-->
<%= render partial: 'shares/handling_msg_box', locals: {handle_message: '处理中...'} %>
</body>
</html>

<script>
    $(function () {
        $(".datetime-picker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });


    $(".title").click(function () {
        $(".slide").slideToggle("fast");
    });

    $(function () {
        $("#main-menu li").removeClass('active');
        $('#' + $('#active_li').val()).addClass('active');
        jQuery(".best_in_place").best_in_place();
        $('.best_in_place').bind("ajax:success", function () {
            $(this).closest('tr').effect('highlight');
        });
    });
</script>

