<%= form_for(@position) do |f| %>
    <% if @position.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

          <ul>
            <% @position.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :nr %><br>
          <%= f.text_field :nr %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="border-bottom: 2px solid #999;">
      <div class="col-sm-4">
        <div class="field">
          <%= f.label :warehouse_id %><br>
          <%= f.select(:warehouse_id, Warehouse.options, {include_blank: false}) %>
        </div>
      </div>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" name="commit" value="更新Position" style="margin: 20px 0 0 20px;width: 200px;">
    </div>
<% end %>
