<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @position.nr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @position.warehouse %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
