<style type="text/css">

    th, td {
        text-align: center;
    }
</style>

<p class="title">料盒类型列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="slide col-sm-12" style="border-bottom: 2px solid #999;">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-sm-3">
           <span>料盒类型：
        <input type="text" name="order_box_type[name]" value="<%= @name %>"/>
        <input type="hidden" name="order_box_type[name_fuzzy]"/>
      </span>
    </div>
    <div class="col-sm-3">
      <input style="margin: -10px 0 0 0;width: 200px;" type="submit" value="查 找" class="btn btn-primary"/>
    </div>
  </form>
</div>

<div style="display: inline-flex;">
  <div class="trapezoid" style="margin: 20px 0 0 0;">
    <p style="padding-top: 20px;">料盒类型</p>
  </div>
  <div style="display: inline-flex;">
    <div class="digg_pagination" style="padding-top: 10px;padding-left: 10px;margin:10px 0 0 0;">
      <div class="page_info">
        <%= page_entries_info @order_box_types %>
      </div>
      <%= will_paginate @order_box_types, :container => false %>
    </div>

    <div style="margin-top: 20px;margin-left: 200px;">
      <%= link_to '新建料盒类型', send("new_#{@model}_path"), :class => 'btn btn-primary',
                  :style => 'color:#fff;padding-top:10px;margin:-10px 0 0 20px;' %>
      <%= link_to '导入数据', import_order_box_types_path, :class => 'btn btn-primary',
                  :style => 'color:#fff;padding-top:10px;margin-left:50px;margin-top:-10px;' %>
    </div>
  </div>
</div>

<div class="table-show" style="overflow: auto;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>料盒类型</th>
      <th>描述</th>
      <th>重量</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @order_box_types.each do |order_box_type| %>
        <tr>
          <td><%= order_box_type.name %></td>
          <td><%= order_box_type.description %></td>
          <td><%= order_box_type.weight %></td>
          <td>
            <%= link_to '[详情]', order_box_type %>
            <% if current_user.can_edit %>
                <%= link_to '[编辑]', edit_order_box_type_path(order_box_type) %>
            <% end %>
            <% if current_user.can_delete %>
                <%= link_to '[删除]', order_box_type, method: :delete, data: {confirm: '确定删除?'} %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
    var ClientHeight = document.documentElement.clientHeight;
    $('.table-show').css({height: (ClientHeight - 400) + 'px'});

    $('.LeftNav>li').children('a').children('h3').removeAttr('style');
    $('.LeftNav>li').children('a').children('h3').children('i').remove();

    $('.LeftNav>li')[11].children[0].children[0].style['color'] = 'red';

    $('<i class="glyphicon glyphicon-hand-left" style="margin-left: 10px;color:red;"></i>').appendTo($('.LeftNav>li')[11].children[0].children[0]).ready(function () {
    });
</script>