<p id="notice"><%= notice %></p>

<h1>Listing Order Box Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_box_types.each do |order_box_type| %>
      <tr>
        <td><%= order_box_type.name %></td>
        <td><%= order_box_type.description %></td>
        <td><%= link_to 'Show', order_box_type %></td>
        <td><%= link_to 'Edit', edit_order_box_type_path(order_box_type) %></td>
        <td><%= link_to 'Destroy', order_box_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order box type', new_order_box_type_path %>
