<style>
    .LeftNav > li > a {
        text-decoration: none;
    }

    .LeftNav > li > a :hover {
        color: red;
    }

</style>

<ul class="LeftNav" style="list-style: none">
  <li><a href="<%= users_path %>"><h3>员工信息</h3></a></li>
  <li><a href="<%= order_cars_path %>"><h3>料车信息</h3></a></li>
  <li><a href="<%= order_boxes_path %>"><h3>料盒信息</h3></a></li>
  <li><a href="<%= storages_path %>"><h3>库存信息</h3></a></li>
  <li><a href="<%= warehouses_path %>"><h3>仓库信息</h3></a></li>
  <li><a href="<%= positions_path %>"><h3>库位信息</h3></a></li>
  <li><a href="<%= locations_path %>"><h3>地点信息</h3></a></li>
  <li><a href="<%= picks_path %>"><h3>择货单信息</h3></a></li>
  <li><a href="<%= orders_path %>"><h3>需求单信息</h3></a></li>
</ul>