<style type="text/css">

    th, td {
        text-align: center;
    }
</style>

<p class="title">择货项列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #000;margin-top: 0;padding-top: 0;margin-left: 158px;"/>
<hr style="border: 1px solid #000;">
<%= link_to "返回", picks_path, :class => 'btn btn-primary', :style => 'margin-top: 0;padding-top: 0; color:#000; margin-left:1%;' %>


<div class="container">
  <fieldset style="width: 80%;margin-top: 60px;border: 1px solid #ccc;">
    <legend style="width: 200px;">择货项列表</legend>
    <div style="display: inline-flex;">
      <div class="trapezoid" style="margin: 0;">
        <p style="padding-top: 20px;">择货项列表</p>
      </div>
      <div style="display: inline-flex;">
        <div class="digg_pagination" style="padding-top: 10px;padding-left: 10px;">
          <div class="page_info">
            <%= page_entries_info @pick_items %>
          </div>
          <%= will_paginate @pick_items, :container => false %>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>料盒号</th>
        <th>零件号</th>
        <th>需求数量</th>
        <th>重量</th>
        <th>称重数量</th>
        <th>重量合规</th>
        <th>状态</th>
        <th>仓库号</th>
        <th>库位号</th>
        <th>是否加急</th>
        <th>需求项号</th>
        <th>备注</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @pick_items.each_with_index do |pick_item, i| %>
          <tr>
            <td><%=i+1%></td>
            <td><%= pick_item.orderable_nr %></td>
            <td><%= pick_item.part.blank? ? '' : pick_item.part.nr %></td>
            <td><%= pick_item.quantity %></td>
            <td><%= pick_item.weight %></td>
            <td><%= pick_item.weight_qty %></td>
            <td><%= pick_item.weight_valid %></td>
            <td><%= PickItemStatus.display pick_item.status %></td>
            <td><%= pick_item.warehouse.blank? ? '' : pick_item.warehouse.nr %></td>
            <td><%= pick_item.position.blank? ? '' : pick_item.position.nr %></td>
            <td>
              <% if pick_item.is_emergency %>
                  <span class="label label-success">是</span>
              <% else %>
                  <span class="label label-warning">否</span>
              <% end %>
            </td>
            <td><%= pick_item.order_item.blank? ? '' : pick_item.order_item.id %></td>
            <td><%= pick_item.remarks %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </fieldset>
</div>