<style>
    .col-sm-4 {
        font-size: 2em;
    }
</style>
<p id="notice"><%= notice %></p>

<p class="title">择货单详细列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>User:</strong>
    <%= @pick.user %>
  </div>

  <div class="col-sm-4">
    <strong>Status:</strong>
    <%= @pick.status %>
  </div>

  <div class="col-sm-4">
    <strong>Warehouse:</strong>
    <%= @pick.warehouse_id %>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Remarks:</strong>
    <%= @pick.remarks %>
  </div>
</div>

<div class="col-sm-12">
  <%= link_to 'Edit', edit_pick_path(@pick), :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 0;' %>
  <%= link_to 'Back', picks_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 20px;' %>
</div>