<p id="notice"><%= notice %></p>

<h1>Listing Part Positions</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Position</th>
      <th>Safe stock</th>
      <th>From warehouse</th>
      <th>From position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_positions.each do |part_position| %>
      <tr>
        <td><%= part_position.part %></td>
        <td><%= part_position.position %></td>
        <td><%= part_position.safe_stock %></td>
        <td><%= part_position.from_warehouse_id %></td>
        <td><%= part_position.from_position_id %></td>
        <td><%= link_to 'Show', part_position %></td>
        <td><%= link_to 'Edit', edit_part_position_path(part_position) %></td>
        <td><%= link_to 'Destroy', part_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part position', new_part_position_path %>
