<p id="notice"><%= notice %></p>

<style>
    .col-sm-4 {
        font-size: 2em;
    }
</style>

<p class="title">库存详细列表 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Part:</strong>
    <%= @storage.part_id %>
  </div>

  <div class="col-sm-4">
    <strong>Fifo:</strong>
    <%= @storage.fifo %>
  </div>

  <div class="col-sm-4">
    <strong>Part:</strong>
    <%= @storage.part_id %>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Package nr:</strong>
    <%= @storage.package_nr %>
  </div>

  <div class="col-sm-4">
    <strong>uniq_nr:</strong>
    <%= @storage.uniq_nr %>
  </div>

  <div class="col-sm-4">
    <strong>Position:</strong>
    <%= @storage.position_id %>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 100px;border-bottom: 1px solid #000;">
  <div class="col-sm-4">
    <strong>Warehouse:</strong>
    <%= @storage.warehouse_id %>
  </div>
</div>

<div class="col-sm-12">
  <%= link_to 'Edit', edit_storage_path(@storage), :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 20px;' %>
  <%= link_to 'Back', storages_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:150px;margin:20px 0 0 20px;' %>
</div>
<script type="text/javascript" charset="utf-8">
    $('.LeftNav>li').children('a').children('h3').removeAttr('style');
    $('.LeftNav>li').children('a').children('h3').children('i').remove();

    $('.LeftNav>li')[17].children[0].children[0].style['color'] = 'red';

    $('<i class="glyphicon glyphicon-hand-left" style="margin-left: 10px;color:red;"></i>').appendTo($('.LeftNav>li')[17].children[0].children[0]).ready(function () {
    });
</script>